#header{

  .header__navbar{
    padding: 3rem;

    .navbar__nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo__box{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .burger__menu{
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          background-color: black;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 2rem;
          box-shadow: var(--mc1) 0 .1rem .4rem 0;

          &:hover{
          box-shadow: var(--mc1) 0 .5rem 1rem 0;
          }
        }

        
      }

      .nav__list{
        padding-left: 7rem;
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;



        .nav__list__item{
          margin: 0 0 0 4.5rem;
          position: relative;       

          }
        }


        .nav__list__item__link{
          font-size: 1.8rem;
          font-weight: 500;

          &::after{
            content: ' ';
            position: absolute;
            background-color: var(--mc1);
            margin: auto;
            display: block;
            height: 0.3rem;
            width: 0;
            left: 0;
            transition: 0.3s all;
        }

        &:hover::after{
          width: 100%;
          color: var(--mc1);
        }

        &:hover{
          color: var(--mc1);
        }
      }


    }
  }
}

