/*_______________________ Main Css _______________________*/


:root {

	--mc1: #cc00ff;
    --mc2: #7000ff;
    --hc: #ddd;
    --bc: #9ba0b8;

	--white: #fff;
	--black: #000;

	--h1: 7.2rem;
	--h2: 4rem;
	--h3: 3.2rem;
	--h4: 2.4rem;
	--h5: 1.8rem;
	--h6: 1.6rem;

	--font_family_1: 'Heebo',sans-serif;
	--font_famliy_2: 'Nunito',sans-serif;
	--trans: all ease 0.5s;
}

/*_______________________ Mixins _______________________*/

@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin inline_flex {	
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/*_______________________ Main Css _______________________*/

html {
	font-size: 10px;
}

body {
	position: relative;
	min-height: 100vh;
	background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
	color: var(--bc);
	font-size: 1.4rem;
	font-family: var(--font_family_1);
	font-family: var(--font_family_2);
	font-weight: 400;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	word-break: break-word;
	a {
		color: var(--black);
		font-size: 1.6rem;
		word-break: break-word;
		text-decoration: none;
		transition: var(--trans);
		&:hover {
			color: var(--primary_color);
		}
		&:focus,
		&:hover {
			outline: none !important;
			text-decoration: none !important;
		}
	}
}

@media (max-width: 1440px) {
	html {
		font-size: 10px;
	}
}
@media (max-width: 1400px) {
	html {
		font-size: 9.7222px;
	}
}
@media (max-width: 1368px) {
	html {
		font-size: 9.5px;
	}
}
@media (max-width: 1366px) {
	html {
		font-size: 9.4861px;
	}
}
@media (max-width: 1300px) {
	html {
		font-size: 9.44444px;
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 8.88889px;
	}
}
@media (max-width: 1208px) {
	html {
		font-size: 8.38889px;
	}
}
@media (max-width: 1152px) {
	html {
		font-size: 8px;
	}
}
@media (max-width: 1024px) {
	html {
		font-size: 7.1111px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	line-height: 1.1;
	margin: 0 0 1rem;
	font-family: var(--font_family);
	> a {
		color: inherit;
	}
	> strong {
		color: var(--primary_color);
		font-weight: inherit;
	}
}

.heading__primary{
	font-size: 7.2rem;
	color: var(--dark_color);
	line-height: 1;
	font-weight: 700;
}

.heading__secondary{
	font-size: 4rem;
	line-height: 1.2;
	font-weight: 700;
	color: var(--dark_color);
}

.heading__tertiary{
	font-weight: 700;
	font-size: 3.2rem;
	color: var(--dark_color);

}

.heading__forth{
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 1.2;
	color: var(--dark_color);

}

.mb-20{
	margin-bottom: 2rem !important;
}

.mb-40{
	margin-bottom: 4rem !important;
}

.mb-50{
	margin-bottom: 5rem !important;
}

.mb-65{
	margin-bottom: 6.5rem !important;
}

.mb-90{
	margin-bottom: 9rem !important;
}

.text-align-left{
	text-align: left;
}

p {
	margin: 0 0 1rem;
	> a {
		display: inline;
		color: var(--prime_color);
		&:hover {
			color: #2115dc;
		}
	}
	&:nth-last-child(1) {
		margin: 0;
	}
}

.btn {
	@include inline_flex;
	position: relative;
	height: 4rem;
	background: var(--primary_color);
	color: var(--white);
	font-size: 1.4rem;
	font-family: var(--font_family);
	font-weight: 600;
	text-align: center;
	padding: 0 2.5rem;
	white-space: nowrap;
	border: 0;
	border-radius: 5rem;
	outline: none !important;
	transition: var(--trans);
	&:hover {
		background: var(--secondary_color);
		color: var(--dark_color);
	}
}

img {
	width: 100%;
	display: block;
}

input,
button,
select,
textarea {
	text-decoration: none !important;
	outline: none !important;
}

label {
	display: block;
	font-weight: inherit;
	cursor: pointer;
}

.form-control {
	display: block;
	width: 100%;
	height: 4rem;
	background: var(--white);
	font-size: inherit;
	font-weight: inherit;
	text-align: left;
	line-height: inherit;
	padding: 0.6rem 1.6rem;
	border: 0.1rem solid #ddd;
	border-radius: 0.6rem;
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	transition: var(--trans);
	&:-webkit-autofill {
		-webkit-transition: background-color 5000s ease-in-out 0s;
		transition: background-color 5000s ease-in-out 0s;
	}
}

@import "./_custom";
